{% macro form(query) %}

<form method="GET" action="/search">
    <div class="field">
        <div class="control has-icons-left">
            <input class="input is-primary" type="search" name="q" value="{{ query }}" 
                   required minlength="2" maxlength="100" placeholder="Search Query (can be anything)">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
    </div>
    <input type="text" name="limit" hidden value="20">
    <div class="field">
        <div class="control">
            <input class="button is-primary" type="submit">
        </div>
    </div>
</form>

{% endmacro %}