{%- import "bookmark.html" as bookmark -%}
{%- import "external.html" as external -%}

{% macro card(event, related) %}
<div class="columns highlight-bookmarked">
    <div class="column is-offset-1">
        <div class="card" data-event-id="{{ event.id }}" data-bookmark-status="false">
            {% call expandable_card_details(event) %}
            <footer class="card-footer">
                {% call bookmark::bookmark_footer_item(event) %}
                {% call external::sojourner_event(event) %}
                {% call external::fosdem_event(event) %}
            </footer>
        </div>
    </div>
    <div class="column is-3">
        {% if related.is_some() %}
        {% let items = related.as_ref().unwrap() %}
        <div class="box">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-duotone fa-arrow-right-arrow-left"></i>
                </span>
                <span>Related</span>
            </span>:
            <ul>
                {% for item in items %}
                <li>
                    <a href="/event/{{ item.event.id }}/">
                        <span
                            class="tag is-info">{{item.distance|distance_icon|safe}}&nbsp;{{item.distance|distance_similarity}}</span>
                        <span>"{{ item.event.title }} ({{ item.event.year }})"</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endmacro %}

{% macro card_header(event) %}
<div class="card-content">
    <p class="title is-5">
        <span>
            <i class="fa-duotone fa-calendar-clock"></i>&nbsp;"{{ event.title }} ({{ event.year }})"
        </span>
    </p>
    <p class="subtitle is-7">
        <span><i class="fa-solid fa-clock"></i> {{ event.date.format("%A") }} at {{ event.start.format("%H:%M") }}, {{
            event.duration }} minutes</span>,
        <a href="{{ event.nav_url(current_event) }}"><span><i class="fa-solid fa-location-dot"></i> {{ event.room
                }}</span></a>,
        <a href="/room/{{ event.room }}/"><span><i class="fa-solid fa-presentation-screen"></i> {{ event.room
                }}</span></a>,
        <span><i class="fa-regular fa-train-track"></i> {{ event.track }}</span>
        {% for presenter in event.presenters %}
        <span><i class="fa-regular fa-person-chalkboard"></i> {{ presenter.name }}</span>
        {% endfor %}
        {% if event.slides.len() > 0 %}
        , <a href="{{ event.slides[0] }}"><span><i class="fa-solid fa-presentation-screen"></i> slides</span></a>
        {% endif %}
        {% if let Some(url) = event.mp4_video_link() %}
        , <a href="{{ url }}"><span><i class="fa-solid fa-video"></i> video</span></a>
        {% endif %}
    </p>
</div>
{% endmacro %}

{% macro expandable_card_details(event) %}
<details class="event">
    <summary>{% call card_header(event) %}</summary>
    <div class="card-content">
        <div class="content">
            {{ event.abstract|safe }}
        </div>
    </div>
</details>
{% endmacro %}