{% macro form(query, year, years) %}

<form method="GET" action="/search">
    <div class="field has-addons">
        <div class="control is-expanded has-icons-left">
            <input class="input is-primary" type="search" name="q" value="{{ query }}" required minlength="2"
                maxlength="100" placeholder="Search Query (can be anything)">
            <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="control">
            <input class="button is-primary" type="submit">
        </div>
    </div>
    <div class="field">
        <div class="control has-icons-left">
            <span class="select is-primary is-small">
                <select name="year">
                    {% for possible_year in years %}
                    <option value="{{ possible_year }}" {% if year==Some(**possible_year) %} selected {% endif %}>
                        {{ possible_year }}
                    </option>
                    {% endfor %}
                    <option value="" {% if year==None %} selected {% endif %}>
                        All Years
                    </option>
                </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-calendar"></i>
            </span>
        </div>
    </div>
    <input type="text" name="limit" hidden value="20">
</form>

{% endmacro %}