{% extends "layout.html" %}
{%- import "form.html" as forms -%}

{% block content %}
{% call forms::search("") %}

<p>
    This is a small website where you can find events in
    <a href="https://fosdem.org/2024/">FOSDEM 2024</a> based on content search.
</p>
<p>
    <a href="https://www.houseofmoran.com">Mike Moran</a> wrote this because, whilst
    he really enjoys attending FOSDEM, the amount of possible things to see is large,
    and there is always a chance he can miss something.
</p>
<p>
    See <a href="https://github.com/mikemoraned/fosdem">Github</a> for how this was built.
</p>

{% endblock %}

