{% extends "layout.html" %}
{%- import "components/bookmark.html" as bookmark -%}
{%- import "components/event.html" as event -%}

{% block content %}
<section class="section hide-non-bookmarked">
    <div class="columns">
        <div class="column">
            <div class="buttons has-addons is-centered">
                <button class="button is-large is-responsive bookmark" id="export" disabled>
                    <span class="icon is-small">
                        <i class="fa-solid fa-upload"></i>
                    </span>
                    <span>Export</span>
                </button>
                <button class="button is-large is-responsive bookmark" id="import" disabled>
                    <span class="icon is-small">
                        <i class="fa-solid fa-download"></i>
                    </span>
                    <span>Import</span>
                </button>
            </div>
        </div>
    </div>
    {% for event in events %}
    <div class="columns" data-event-id="{{ event.id }}" data-bookmark-status="false">
        <div class="column">
            <div class="card" >
                {% call event::expandable_card_details(event) %}
                <footer class="card-footer">
                    {% call bookmark::bookmark_footer_item(event) %}
                </footer>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<dialog id="export-dialog">
    <button class="button is-large is-responsive bookmark close" disabled>Close</button>
</dialog>
{% endblock %}

{% block end_script %}
<script type="module">
    import { bindExportImport } from '/assets/bookmarks.js';

    bindExportImport();
</script>
{% endblock %}