<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOSDEM 2025</title>
    <script defer data-domain="fosdem.houseofmoran.io" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" 
          integrity="sha384-tl5h4XuWmVzPeVWU0x8bx0j/5iMwCBduLEgZ+2lH4Wjda+4+q3mpCww74dgAB3OX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/c8c6207275.css" 
          integrity="sha384-b9qtiqsIN+VjXbYQqcLuSnitpdSyzxdoYxXTvxGqda48WxF/ASbLX0wqZ6n0V6qC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://fosdem.houseofmoran.io/">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-duotone fa-house-person-leave"></i>
                    </span>
                    <span>FOSDEM</span>
                </span>
            </a>

            <a class="navbar-item" href="/next/">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-duotone fa-person-running-fast"></i>
                    </span>
                    <span class="is-hidden-desktop">Next</span>
                    <span class="is-hidden-touch">Now and Next</span>
                </span>
            </a>

            <a class="navbar-item" href="/">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <span>Search</span>
                </span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMore">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>    
        </div>

        <div id="navbarMore" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/connections/">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-duotone fa-arrow-right-arrow-left"></i>
                        </span>
                        <span>Connections</span>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    
    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-duotone fa-copyright"></i>
                </span>
                <span>Copyrights</span>:
            </span>
            <p>FOSDEM conference content: <a href="http://creativecommons.org/licenses/by/2.0/be/deed.en">licensed under the Creative Commons Attribution 2.0 Belgium Licence.</a></p>
            <p>All content such as talks and biographies is the sole responsibility of the speaker.</p>
            <p>All code and other content 
                    <a href="https://github.com/mikemoraned/fosdem/blob/main/LICENSE">Apache 2.0 Licensed by Mike Moran</a>
            </p>
        </div>
    </footer>
    <script src="/assets/nav.js"></script>
</body>


</html>