{% extends "layout.html" %}
{%- import "components/event.html" as event -%}
{%- import "components/external.html" as external -%}
{%- import "components/bookmark.html" as bookmark -%}

{% macro card(event) %}
<div class="card" data-event-id="{{ event.id }}" data-bookmark-status="false">
    {% call event::expandable_card_details(event) %}
    <footer class="card-footer">
        <a href="/next/?id={{event.id}}" class="card-footer-item">
            <span class="icon-text">
                <span>Select</span>
            </span>
        </a>
        {% call bookmark::bookmark_footer_item(event) %}
        {% call external::sojourner_event(event) %}
        {% call external::fosdem_event(event) %}
    </footer>
</div>
{% endmacro %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="title is-5">
                <i class="fa-duotone fa-diagram-sankey"></i> 
                Now attending 
            </h1>
            <h1 class="subtitle is-7">
                (<i class="fa-solid fa-clock"></i> {{ next.now.format("%Y-%m-%d, %H:%M") }})
            </h1>
            <div class="card">
                {% call event::expandable_card_details(next.selected) %}
                <footer class="card-footer">
                    {% call external::sojourner_event(next.selected) %}
                    {% call external::fosdem_event(next.selected) %}
                </footer>
            </div>
        </div>
        <div class="column">
            <form method="GET" action="/next/">
                <div class="field">
                    <label class="label">Select other</label>
                    <div class="control has-icons-left">
                        <div class="select is-small">
                            <select name="id" onchange="this.form.submit();">
                                {% for event in next.current %}
                                <option value="{{ event.id }}" {% if event.id==next.selected.id %} selected {% else %} {% endif %}>
                                    {{ event.start.format("%H:%M") }}, {{ event.title|truncate_title(35) }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa-duotone fa-calendar-clock"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary is-small" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="columns">
        
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-5"><i class="fa-duotone fa-person-running-fast"></i> Coming up: </h1>
        </div>
        <div class="column">
            <button class="button bookmark hide-all-bookmarks is-small" disabled>
                Show only bookmarked
            </button>
        </div>
    </div>

    <div class="bookmarks">
        {% for event in next.next|order_event_by_time_then_place %}
        <div class="columns">
            <div class="column">
            {% call card(event) %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block bookmarks_callbacks %}
<script type="module">
    import { bindHide } from '/assets/bookmarks.js';

    document.bookmarksCallbacks = [ bindHide ];
</script>
{% endblock %}