{% extends "layout.html" %}
{%- import "components/search.html" as search -%}
{%- import "components/bookmark.html" as bookmark -%}
{%- import "components/event.html" as event -%}
{%- import "components/external.html" as external -%}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-two-thirds is-hidden-mobile">
                <h1 class="is-size-1 is-size-4-mobile">Search results for "{{ query }}"</h1>
            </div>
            <div class="column">
                {% call search::form(query) %}
            </div>
        </div>

        <div class="columns is-hidden-mobile">
            <div class="column is-two-thirds">
            {% for item in items %}
            <a href="#{{item.event.id}}">
                <span title="{{item.distance|distance_similarity}}">
                    {{item.distance|distance_icon|safe}}
                </span>
            </a>
            {% endfor %}
            </div>
            <div class="column"></div>
        </div>
    
        {% for group in items|group_by_distance %}

        <div class="columns">
            <div class="column">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-duotone fa-arrow-right-arrow-left"></i>
                    </span>
                </span>
                <span
                    class="tag is-info is-size-7-mobile">{{group.distance|distance_icon|safe}}&nbsp;{{group.distance|distance_similarity}}</span> group:
            </div>
        </div>

        {% for item in group.items %}

        <a name="{{item.event.id}}"></a>
        {% call event::card(item.event, item.related) %}
        {% endfor %}
        {% endfor %}
    </section>
    
{% endblock %}