{% extends "layout.html" %}
{%- import "components/search.html" as search -%}
{%- import "components/bookmark.html" as bookmark -%}
{%- import "components/event.html" as event -%}
{%- import "components/external.html" as external -%}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            {% call search::form(query, year, current_fosdem.selectable_years) %}
        </div>
    </div>

    {% for group in items|group_by_distance %}
    {% for item in group.items %}
    <a name="{{item.event.id}}"></a>
    {% call event::card(item.event, item.related) %}
    {% endfor %}
    {% endfor %}
</section>

{% endblock %}