{% extends "layout.html" %}
{%- import "components/bookmark.html" as bookmark -%}
{%- import "components/event.html" as event -%}
{%- import "components/external.html" as external -%}

{% block content %}
<section class="section hide-non-bookmarked">
    {% for timetable in timetables %}
    <div class="box">
        <h2 class="title is-4">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-calendar-day"></i>
                </span>
                <span>{{ timetable.day.format("%A, %B %e, %Y") }}</span>
            </span>
        </h2>
        {% for ev in timetable.unique_events() %}
        <div class="columns" data-event-id="{{ ev.id }}" data-bookmark-status="false">
            <div class="column">
                <div class="card">
                    {% call event::expandable_card_details(ev) %}
                    <footer class="card-footer">
                        {% call bookmark::bookmark_footer_item(ev) %}
                        {% call external::sojourner_event(ev) %}
                        {% call external::fosdem_event(ev) %}
                    </footer>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
{% endblock %}
