{% extends "layout.html" %}
{%- import "components/event.html" as event -%}

{% block content %}
<style>
    svg[data-bookmark-status="false"] circle {
        fill: lightgray;
    }

    svg[data-bookmark-status="true"] circle {
        fill: red;
    }

    section.compact thead th.room {
        writing-mode: vertical-rl;
    }

    section.compact div.normal {
        display: none;
    }

    section.compact table {
        font-size: x-small;
    }
</style>
<section class="section compact">
    <div class="column is-flex is-justify-content-flex-end">
        <button id="toggle-compact" class="button is-small">
            Toggle Compact
        </button>
    </div>
    {% for timetable in timetables %}
    <div class="box">
        <h2 class="title is-4">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-calendar-day"></i>
                </span>
                <span>{{ timetable.day.format("%A, %B %e, %Y") }}</span>
            </span>
        </h2>
        <div class="table-container">
            <table class="table is-bordered is-narrow is-fullwidth highlight-bookmarked">
                <thead>
                    <tr>
                        <th>Time</th>
                        {% for stream in timetable.unique_streams() %}
                        {% if let planning::Stream::Room(room_name) = stream %}
                        <th class="room"><a href="/room/{{ room_name }}/#{{ timetable.day.format("%a")|lower }}">
                                {{ room_name }}
                            </a>
                        </th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for slot in timetable.slots %}
                    <tr>
                        <td>{{ slot.start.format("%H:%M") }}</td>
                        {% for stream in timetable.unique_streams() %}
                        {% if let planning::Stream::Room(room_name) = stream %}
                        {% match slot.overlaps.get(stream) %}
                        {% when Some with (overlap) %}
                        {% match overlap %}
                        {% when planning::EventOverlap::Beginning { event, slot_coverage } %}
                        <td rowspan="{{ slot_coverage }}">
                            <a href="{{ event.id|event_url }}"
                                title="{{ event.starting_time().format(" %H:%M") }}->{{
                                event.ending_time().format("%H:%M") }} {{ event.title }}, {{ event.room }}"
                                >
                                <svg {% call event::event_attrs(event) %} {% call event::bookmark_attrs(event) %} width="10px"
                                    height="10px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                    preserveAspectRatio="xMidYMid meet">
                                    <circle cx="18" cy="18" r="18"></circle>
                                </svg>
                            </a>
                            <div class="normal">
                                <a href="{{ event.id|event_url }}"
                                    title="{{ event.starting_time().format(" %H:%M") }}->{{
                                    event.ending_time().format("%H:%M") }} {{ event.title }}"
                                    {% call event::event_attrs(event) %} {% call event::bookmark_attrs(event) %}>
                                    {{ event.title|truncate_title(50) }}
                                </a>
                                <span {% call event::event_attrs(event) %} {% call event::bookmark_attrs(event) %}>
                                    <button class="button bookmark is-small" disabled>
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-bookmark filled"></i>
                                            <i class="fa-solid fa-bookmark-slash empty"></i>
                                        </span>
                                    </button>
                                </span>
                                <a href="/room/{{ event.room }}/#{{ event.date.format("%a")|lower }}">
                                    <span class="tag">{{ event.room }}</span>
                                </a>
                            </div>
                        </td>
                        {% when planning::EventOverlap::Middle with (event) %}
                        {# Skip - covered by rowspan from Beginning #}
                        {% when planning::EventOverlap::End with (event) %}
                        {# Skip - covered by rowspan from Beginning #}
                        {% endmatch %}
                        {% when None %}
                        <td></td>
                        {% endmatch %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</section>
<script>
    document.getElementById('toggle-compact').addEventListener('click', function () {
        document.querySelectorAll('section').forEach(function (section) {
            section.classList.toggle('compact');
        });
    });
</script>
{% endblock %}