/* hide items which are not bookmarked */
.hide-non-bookmarked [data-bookmark-status="false"] {
    display: none;
}

/* highlight bookmark status in card */
.highlight-bookmarked [data-bookmark-status="true"] {
    border: 1px solid gray;
}

.highlight-bookmarked [data-bookmark-status="false"] {
    border: 1px solid transparent;
}

/* show bookmark status in button */
[data-bookmark-status="true"] button.bookmark i.fa-bookmark.filled {
    display: span;
}

[data-bookmark-status="true"] button.bookmark i.fa-bookmark.empty {
    display: none;
}

[data-bookmark-status="false"] button.bookmark i.fa-bookmark.filled {
    display: none;
}

[data-bookmark-status="false"] button.bookmark i.fa-bookmark.empty {
    display: span;
}

