button.bookmark[data-bookmark-status="true"] i.fa-bookmark.filled {
    display: span;
}

button.bookmark[data-bookmark-status="true"] i.fa-bookmark.empty {
    display: none;
}

button.bookmark[data-bookmark-status="false"] i.fa-bookmark.filled {
    display: none;
}

button.bookmark[data-bookmark-status="false"] i.fa-bookmark.empty {
    display: span;
}

