{% macro search(query) %}

<form method="GET" action="/search">
    <div class="field">
        <label class="label">Search</label>
        <div class="control">
            <input class="input" type="search" name="q" value="{{ query }}" required minlength="2" maxlength="100">
        </div>
        <p class="help">Search Query (can be anything)</p>
    </div>
    <input type="text" name="limit" hidden value="20">
    <div class="field">
        <div class="control">
            <input class="button" type="submit">
        </div>
    </div>
</form>

{% endmacro %}