{% extends "layout.html" %}
{%- import "components/search.html" as search -%}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="content">
                <p>
                    This is a small website where you can find events in
                    <a href="https://fosdem.org/2025/">FOSDEM 2025</a> based on content search, and 
                    via <a href="/connections/">connections</a>.
                </p>
                <p>
                    <a href="https://www.houseofmoran.com">I (mike moran)</a> wrote this because, whilst
                    I really enjoy attending FOSDEM, the amount of possible things to see is large,
                    and there is always a chance I can miss something.
                </p>
                <p>
                    The <a href="https://fosdem.org/2025/">main website</a> does have search, so, 
                    <em>to be totally honest</em> I should also say initially I just wanted to play about 
                    with OpenAI Embeddings. However, one outcome is that you'll find results for queries here
                    you won't find on main site e.g. <a href="/search?q=controversial&limit=20">"controversial"</a>.
                </p>
                <p>
                    Additionally, this site also indexes related content, like slides (I'm not 100% sure, 
                    but I don't think the main site does that).
                </p>
                <p>
                    See <a href="https://github.com/mikemoraned/fosdem">Github</a> for how this was built, 
                    and also for any pending / done <a href="https://github.com/mikemoraned/fosdem/blob/main/TODO.md">TODO's</a>.
                </p>
            </div>
        </div>
        <div class="column is-one-third">
            {% call search::form("") %}
        </div>
    </div>
</section>
{% endblock %}

