<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOSDEM 2024</title>
    <script defer data-domain="fosdem.houseofmoran.io" src="https://plausible.io/js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/c8c6207275.css" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://fosdem.houseofmoran.io/">
                FOSDEM
            </a>
        </div>
    </nav>
    
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <a href="/">About</a>
        </div>
    </footer>
</body>


</html>