{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            Now: {{ now }}
            <select name="current_event_id">
                {% for event in current_events %}
                <option value="{{ event.id }}" {% if event.id == selected_event.id %} selected {% else %} {% endif %}>
                    {{ event.start }}, {{ event.duration }}, {{ event.title }}
                </option>
                {% endfor %}
            </select>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

