{% extends "layout.html" %}

{% macro card_header(event) %}
    <div class="card-content">
        <p class="title is-5">
            <span>
                <i class="fa-duotone fa-calendar-clock"></i>&nbsp;"{{ event.title }}"</span>
            </span>
        </p>
        <p class="subtitle is-7">
            {{ event.date }} at {{ event.start.format("%H:%M") }}, {{ event.duration }} minutes
        </p>
    </div>
{% endmacro %}

{% macro card(event) %}
<div class="card">
    <details>
        <summary>{% call card_header(event) %}</summary>
        <div class="card-content">
            <div class="content">
                {{ event.abstract|safe }}
            </div>
        </div>
    </details>
    <footer class="card-footer">
        <a href="/next/?id={{event.id}}" class="card-footer-item">
            <span class="icon-text">
                <span>Select</span>
            </span>
        </a>
        <a href="{{ event.url }}" class="card-footer-item">
            <span class="icon-text">
                <span>Open on FOSDEM site</span>
                <span class="icon">
                    <i class="fa-light fa-arrow-up-right-from-square"></i>
                </span>
            </span>
        </a>
    </footer>
</div>
{% endmacro %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h1 class="title is-5"><i class="fa-duotone fa-diagram-sankey"></i> Now attending</h1>
            <div class="card">
                <details>
                    <summary>{% call card_header(next.selected) %}</summary>
                    <div class="card-content">
                        <div class="content">
                            {{ next.selected.abstract|safe }}
                        </div>
                    </div>
                </details>
                <footer class="card-footer">
                    <a href="{{ next.selected.url }}" class="card-footer-item">
                        <span class="icon-text">
                            <span>Open on FOSDEM site</span>
                            <span class="icon">
                                <i class="fa-light fa-arrow-up-right-from-square"></i>
                            </span>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
        <div class="column">
            <form method="GET" action="/next/">
                <div class="field">
                    <label class="label">Select other</label>
                    <div class="control has-icons-left">
                        <div class="select is-small">
                            <select name="id" onchange="this.form.submit();">
                                {% for event in next.current %}
                                <option value="{{ event.id }}" {% if event.id==next.selected.id %} selected {% else %} {% endif %}>
                                    {{ event.start.format("%H:%M") }}, {{ event.title|truncate_title(35) }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa-duotone fa-calendar-clock"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary is-small" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="columns">
        
    </div>
    <h1 class="title is-5"><i class="fa-duotone fa-person-running-fast"></i> Coming up: </h1>
    {% for event in next.next %}
    <div class="columns">
        <div class="column">
        {% call card(event) %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}

