{% extends "layout.html" %}
{%- import "form.html" as forms -%}
{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="is-size-1 is-size-4-mobile">Search results for "{{ query }}"</h1>
            </div>
            <div class="column">
                {% call forms::search(query) %}
            </div>
        </div>
    
        {% for item in items %}

        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-light fa-calendar-day"></i>
                                </span>
                                <span>{{ item.event.title }}</span>
                            </span>
                        </p>
                        <p class="subtitle is-7">{{ item.event.date }} at {{ item.event.start }}, {{ item.event.duration }} minutes</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {{ item.event.abstract|safe }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ item.event.url }}" class="card-footer-item">Open on FOSDEM site</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                {% if item.related.is_some() %}
                {% let items = item.related.as_ref().unwrap() %}
                <div class="box">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-light fa-chart-network"></i>
                        </span>
                        <span>Related</span>
                    </span>:
                    <ul>
                    {% for item in items %}
                    <li><a href="{{ item.event.url }}">"{{ item.event.title }}"</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
    
{% endblock %}