{% extends "layout.html" %}
{%- import "components/search.html" as search -%}
{%- import "components/event.html" as event -%}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-two-thirds is-hidden-mobile">
                <h1 class="is-size-1 is-size-4-mobile">Search results for "{{ query }}"</h1>
            </div>
            <div class="column">
                {% call search::form(query) %}
            </div>
        </div>

        <div class="columns is-hidden-mobile">
            <div class="column is-two-thirds">
            {% for item in items %}
            <a href="#{{item.event.id}}">
                <span title="{{item.distance|distance_similarity}}">
                    {{item.distance|distance_icon|safe}}
                </span>
            </a>
            {% endfor %}
            </div>
            <div class="column"></div>
        </div>
    
        {% for item in items %}

        <div class="columns">
            <div class="column is-narrow">
                <a name="{{item.event.id}}"></a>
                <span class="tag is-info is-size-7-mobile">{{item.distance|distance_icon|safe}}&nbsp;{{item.distance|distance_similarity}}</span>
            </div>
            <div class="column">
                <div class="card">
                    {% call event::expandable_card_details(item.event) %}
                    <footer class="card-footer">
                        <a href="{{ item.event.url }}" class="card-footer-item">
                            <span class="icon-text">
                                <span>Open on FOSDEM site</span>
                                <span class="icon">
                                    <i class="fa-light fa-arrow-up-right-from-square"></i>
                                </span>
                            </span>
                        </a>
                    </footer>
                </div>
            </div>
            <div class="column is-3">
                {% if item.related.is_some() %}
                {% let items = item.related.as_ref().unwrap() %}
                <div class="box">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-duotone fa-arrow-right-arrow-left"></i>
                        </span>
                        <span>Connections</span>
                    </span>:
                    <ul>
                    {% for item in items %}

                    <li>
                        <a href="{{ item.event.url }}">
                            <span class="tag is-info">{{item.distance|distance_icon|safe}}&nbsp;{{item.distance|distance_similarity}}</span>
                            <span>"{{ item.event.title }}"&nbsp;<i class="fa-light fa-arrow-up-right-from-square"></i></span>
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
    
{% endblock %}