{% extends "layout.html" %}
{%- import "form.html" as forms -%}
{% block content %}
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="is-size-1 is-size-3-mobile">
                Search results for "{{ query }}"
            </h1>
        </div>
        <div class="column">
            {% call forms::search(query) %}
        </div>
    </div>
    
    {% for item in items %}
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ item.event.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ item.event.abstract|safe }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{{ item.event.url }}" class="card-footer-item">Open on FOSDEM site</a>
                </footer>
            </div>
        </div>
        <div class="column">
            {% if item.related.is_some() %}
            {% let items = item.related.as_ref().unwrap() %}
            <div class="box">
                Related:
                <ul>
                {% for item in items %}
                <li><a href="{{ item.event.url }}">"{{ item.event.title }}"</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
{% endblock %}